<div class="modal-header">
  <h3 class="pull-left mb-0">{{ 'admin.users.edit_user' | translate }}</h3>
  <button type="button" class="close pull-right" (click)="modalRef.hide()">
    <span>&times;</span>
  </button>
</div>
<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <h5>{{ 'admin.users.roles_rights' | translate }}</h5>
    <div class="form-check mb-2">
      <input type="checkbox" class="form-check-input" id="inputIsAdmin" formControlName="isAdmin">
      <label class="form-check-label" for="inputIsAdmin">{{ 'admin.users.is_admin' | translate }}</label>
    </div>
    <div *ngIf="addUserForm.get('isAdmin')?.value === false" class="form-group">
      <label for="inputLocationsWithPermission">{{ 'admin.users.locations_with_permission' | translate }}</label>
      <ng-select id="inputLocationsWithPermission" formControlName="locationsWithPermission">
        <ng-option *ngFor="let location of (locations$ | async)" [value]="location.id">{{location.name}}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="addUserForm.invalid">{{ 'admin.users.edit_user' | translate }}</button>
  </div>
</form>
