<div class="bg-white rounded shadow-sm border-0 mr-4 mt-4" style="width: 380px">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ sensor?.name }}</h5>
      <button type="button" class="close" (click)="this.closePopup.emit()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body container">
      <table
        *ngIf="sensorLatestMeasurements$ | async; let latest; else: latestMeasurementsLoading"
        class="table table-sm table-borderless mb-0"
      >
        <tbody>
          <tr>
            <td class="font-weight-bold">{{ 'location.last_contact' | translate }}</td>
            <td class="text-right">
              <ucm-last-contact
                [dateString]="latest.measurements ? latest.measurements['time'] : null"
              ></ucm-last-contact>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.temperature' | translate }}</td>
            <td class="text-right">
              <ucm-measurement
                [value]="latest.measurements ? latest.measurements['temperature'] : null"
                unit="measurement.degrees_c"
              ></ucm-measurement>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.ir_temperature' | translate }}</td>
            <td class="text-right">
              <ucm-measurement
                [value]="latest.measurements ? latest.measurements['ir_temperature'] : null"
                unit="measurement.degrees_c"
              ></ucm-measurement>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.humidity' | translate }}</td>
            <td class="text-right">
              <ucm-measurement
                [value]="latest.measurements ? latest.measurements['humidity'] : null"
                unit="measurement.relative_humidity"
              ></ucm-measurement>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.brightness_current' | translate }}</td>
            <td class="text-right">
              <ucm-measurement
                [value]="latest.measurements ? latest.measurements['brightness_current'] : null"
              ></ucm-measurement>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.battery_voltage' | translate }}</td>
            <td class="text-right">
              <ucm-measurement
                [value]="latest.measurements ? latest.measurements['battery_voltage'] : null"
                unit="measurement.voltage"
              ></ucm-measurement>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #latestMeasurementsLoading>
        <div class="d-flex flex-column align-items-center mt-5">
          <div class="spinner-grow" role="status"></div>
          <h3 class="mt-3">
            {{ 'location.loading_measurements' | translate }}
          </h3>
        </div>
      </ng-template>
    </div>

    <div class="modal-body container">
      <ucm-vec3-form
        name="position"
        [editable]="editingMode !== 'rotate'"
        [vec3]="editedPosition"
        (vec3Change)="editedPositionChange.emit($event)"
        (editingChange)="onEditingChange($event, 'translate')"
        (saveChanges)="saveChanges.emit()"
        (revertChanges)="revertChanges.emit()"
      >
      </ucm-vec3-form>
    </div>

    <div class="modal-body container">
      <ucm-vec3-form
        name="rotation"
        [editable]="editingMode !== 'translate'"
        [vec3]="editedRotation"
        (vec3Change)="editedRotationChange.emit($event)"
        (editingChange)="onEditingChange($event, 'rotate')"
        (saveChanges)="saveChanges.emit()"
        (revertChanges)="revertChanges.emit()"
      >
      </ucm-vec3-form>
    </div>
  </div>
</div>
