[submodule "software/embedded/sensor-node/Drivers/Components/rfm95"]
	path = software/embedded/sensor-node/Drivers/Components/rfm95
	url = https://github.com/henriheimann/stm32-hal-rfm95
[submodule "software/embedded/sensor-node/Drivers/Components/sht3x"]
	path = software/embedded/sensor-node/Drivers/Components/sht3x
	url = https://github.com/henriheimann/stm32-hal-sht3x.git
[submodule "software/embedded/sensor-node/Drivers/Components/eeprom"]
	path = software/embedded/sensor-node/Drivers/Components/eeprom
	url = https://github.com/henriheimann/stm32-hal-eeprom.git
[submodule "software/embedded/sensor-node/Drivers/Components/mlx90614"]
	path = software/embedded/sensor-node/Drivers/Components/mlx90614
	url = https://github.com/henriheimann/stm32-hal-mlx90614.git
