[submodule "Software/UrbanClimateMonitorPrototype/Drivers/Components/sht3x"]
	path = Software/UrbanClimateMonitorPrototype/Drivers/Components/sht3x
	url = https://github.com/henriheimann/stm32-sht3x.git
[submodule "Software/UrbanClimateMonitorPrototype/Drivers/MCU/stdio2uart"]
	path = Software/UrbanClimateMonitorPrototype/Drivers/MCU/stdio2uart
	url = https://github.com/henriheimann/stm32-stdio2uart.git
[submodule "Software/UrbanClimateMonitorPrototype/Drivers/Components/rfm95"]
	path = Software/UrbanClimateMonitorPrototype/Drivers/Components/rfm95
	url = https://github.com/henriheimann/stm32-rfm95.git
