<div class="modal-header">
  <h3 class="pull-left">{{ switchOnModelType('admin.sensors.add_sensor', 'admin.sensors.edit_sensor') | translate }}</h3>
  <button type="button" class="close pull-right" (click)="modalRef.hide()">
    <span>&times;</span>
  </button>
</div>
<form [formGroup]="sensorForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="inputName">{{ 'admin.sensors.name' | translate }}</label>
      <input type="text" class="form-control" id="inputName" formControlName="name">
    </div>
    <div class="form-group">
      <label for="inputLocation">{{ 'admin.sensors.location' | translate }}</label>
      <ng-select id="inputLocation" formControlName="location">
        <ng-option *ngFor="let location of (locations$ | async)" [value]="location.id">{{location.name}}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="sensorForm.invalid">{{ switchOnModelType('admin.sensors.add_sensor', 'admin.sensors.edit_sensor') | translate }}</button>
  </div>
</form>
