<div #canvasWrapper id="canvasWrapper">
  <canvas #rendererCanvas id="rendererCanvas"></canvas>

  <div id="sensorPopupWrapper" *ngIf="selectedSensorMesh">
    <ucm-sensor-popup
      [locationSensor]="selectedSensorMesh.getLocationSensor()"
      [editedPosition]="editedPosition"
      (editedPositionChange)="updatePosition($event)"
      [editedRotation]="editedRotation"
      (editedRotationChange)="updateRotation($event)"
      (closePopup)="onSensorPopupClose()"
      (editingModeChange)="onEditingModeChange($event)"
      (saveChanges)="saveChanges()"
      (revertChanges)="revertChanges()"
    >
    </ucm-sensor-popup>
  </div>
</div>
