<div class="container-xxxl mb-4">
  <div class="bg-white rounded shadow-sm border-0 mr-3 ml-3">
    <div class="d-flex align-items-stretch">
      <div class="border-right p-3 d-flex align-items-center justify-content-center" style="width: 160px">
        <div class="dropup">
          <button class="btn bg-white dropdown-toggle p-0" type="button" data-toggle="dropdown">
            <i class="bi bi-clock pr-1"></i>
            {{ 'location.' + (selectedMeasurementsTimeframe || '').toLowerCase() | translate }}
          </button>
          <div class="dropdown-menu">
            <a
              *ngFor="let measurementsTimeframe of measurementsTimeframes | keyvalue"
              class="dropdown-item"
              (click)="onTimeframeSelect(measurementsTimeframe.value)"
              >{{ 'location.' + measurementsTimeframe.key.toLowerCase() | translate }}</a
            >
          </div>
        </div>
      </div>
      <div class="border-right p-3 d-flex align-items-center justify-content-center" style="width: 160px">
        <div class="dropup">
          <button class="btn bg-white dropdown-toggle p-0" type="button" data-toggle="dropdown">
            <i *ngIf="selectedMeasurementsType == measurementsTypes.TEMPERATURE" class="bi bi-thermometer-half pr-1"></i>
            <i *ngIf="selectedMeasurementsType == measurementsTypes.HUMIDITY" class="bi bi-droplet-half pr-1"></i>
            <i *ngIf="selectedMeasurementsType == measurementsTypes.BRIGHTNESS_CURRENT" class="bi bi-brightness-high pr-1"></i>
            {{ 'location.' + (selectedMeasurementsType || '').toLowerCase() | translate }}
          </button>
          <div class="dropdown-menu">
            <a
              *ngFor="let measurementsType of measurementsTypes | keyvalue"
              class="dropdown-item"
              (click)="onTypeSelect(measurementsType.value)"
              >{{ 'location.' + measurementsType.key.toLowerCase() | translate }}k
            </a>
          </div>
        </div>
      </div>
      <div class="flex-grow-1 p-3 custom-slider">
        <ngx-slider
          *ngIf="loadedMeasurements !== undefined && loadedMeasurements.entries.length > 0; else no_measurements"
          [(value)]="sliderSelectedIndex"
          [options]="sliderOptions"
          (userChange)="onSliderChange()"
        >
        </ngx-slider>
        <ng-template #no_measurements>
          {{ 'location.no_measurements_for_selection' | translate }}
        </ng-template>
      </div>
    </div>
  </div>
</div>
