<div *ngIf="loading$ | async">{{ 'admin.locations.loading_locations' | translate }}</div>

<div *ngIf="(loading$ | async) === false" class="container-xxxl">
  <table *ngIf="locations$ | async as locations" class="table bg-white rounded shadow-sm border-0">
    <thead>
      <tr>
        <th class="border-top-0">{{ 'admin.locations.name' | translate }}</th>
        <th class="border-top-0">{{ 'admin.locations.icon' | translate }}</th>
        <th class="border-top-0">{{ 'admin.locations.model3d' | translate }}</th>
        <th class="border-top-0 text-right">
          <button class="btn btn-link text-dark p-0" (click)="onAddLocationButtonClicked()">
            {{ 'admin.locations.add_location' | translate }}
            <i class="bi bi-plus-circle-fill"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations">
        <td class="align-middle">{{ location.name }}</td>
        <td class="align-middle">
          <span *ngIf="getLocationIcon(location); let icon">
            <img height="50" [src]="icon" />
          </span>
        </td>
        <td class="align-middle">{{ location.model3dUrl }}</td>
        <td class="align-middle text-right">
          <button class="btn btn-link text-dark p-0 mr-4" (click)="onEditLocationButtonClicked(location)">
            {{ 'admin.locations.edit' | translate }}
          </button>
          <button class="btn btn-link text-dark p-0" (click)="onDeleteLocationButtonClicked(location)">
            {{ 'admin.locations.delete' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
