// Global
$enable-rounded: true;
$enable-shadows: true;
$enable-print-styles: false;
$enable-transitions: true;

// Fonts
$font-size-base: 16;
$font-family-base: 'Jost', Helvetica, sans-serif;
$font-weight-bold: 500;

// Colors
$light: #F6F6F6;
$body-color: #111111;
$body-bg: $light;

// Tables
$table-border-width: 1px;
$table-border-color: #E8E8E8;
$table-header-border-color: $body-color;

// Navbar
$navbar-light-color: #7f7f7f;
$navbar-light-active-color: $body-color;
$navbar-padding-y: 0;
$nav-link-padding-x: 25px !important;
$nav-link-padding-y: 20px;
$navbar-brand-padding-y: 0;
$navbar-height: 70px;

$modal-content-border-width: 0;
$modal-content-box-shadow-xs: 0;
$modal-content-box-shadow-sm-up: 0;

// Links
$emphasized-link-hover-darken-percentage: 0;

// Footer
$footer-height: 30px;
