<span>
  <span [ngClass]="iconColorClass">
    <i class="bi bi-circle-fill"></i>
  </span>
  <span class="pl-1" *ngIf="difference === undefined; else show_difference">
    {{ 'last_contact.never_seen' | translate }}
  </span>
  <ng-template #show_difference>
    <span class="pl-1" *ngIf="difference || 0 > 0">
      {{ this.difference + ' ' + (this.differenceUnit || '' | translate) + ' ' + ('last_contact.ago' | translate) }}
    </span>
    <span class="pl-1" *ngIf="difference == 0">
      {{ 'last_contact.just_now' | translate }}
    </span>
  </ng-template>
</span>
