<div class="bg-white rounded shadow-sm border-0 mr-4 mt-4" style="width: 380px">
  <div class="modal-content">
    <div class="modal-header">
      <div *ngIf="selectedSensor$ | async; let sensor">
        <h5 class="modal-title">{{ sensor?.name }}</h5>
        <small *ngIf="sensor?.measurements; let measurements">
          <span class="pr-2">{{ 'location.last_contact' | translate }}: </span>
          <ucm-last-contact [dateString]="measurements['time']"></ucm-last-contact>
        </small>
      </div>
      <button type="button" class="close" (click)="onCloseClicked()">
        <span>&times;</span>
      </button>
    </div>
    <div *ngIf="selectedSensorMeasurements$ | async; let measurements; else: no_measurements" class="modal-body container border-bottom">
      <table class="table table-sm table-borderless mb-2">
        <tr>
          <td class="font-weight-bold mb-2">{{ 'location.measurements_at' | translate }} {{ selectedSensorTimestamp$ | async }}</td>
        </tr>
      </table>
      <table class="table table-sm table-borderless mb-0">
        <tbody>
          <tr>
            <td class="font-weight-bold">{{ 'location.temperature' | translate }}</td>
            <td class="text-right">
              <ucm-measurement [value]="measurements['temperature']" unit="measurement.degrees_c"></ucm-measurement>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.ir_temperature' | translate }}</td>
            <td class="text-right">
              <ucm-measurement [value]="measurements['ir_temperature']" unit="measurement.degrees_c"></ucm-measurement>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.humidity' | translate }}</td>
            <td class="text-right">
              <ucm-measurement [value]="measurements['humidity']" unit="measurement.relative_humidity"></ucm-measurement>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.brightness_current' | translate }}</td>
            <td class="text-right">
              <ucm-measurement [value]="measurements['brightness_current']"></ucm-measurement>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">{{ 'location.battery_voltage' | translate }}</td>
            <td class="text-right">
              <ucm-measurement [value]="measurements['battery_voltage']" unit="measurement.voltage"></ucm-measurement>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #no_measurements>
      <div class="modal-body container border-bottom">
        <table class="table table-sm table-borderless mb-0">
          <tr>
            <td class="font-weight-bold mb-2">{{ 'location.no_measurements_available' | translate }}</td>
          </tr>
        </table>
      </div>
    </ng-template>

    <div class="modal-body container">
      <ucm-vec3
        name="position"
        [editable]="(editingMode$ | async) !== 'rotate'"
        [vec3]="(modifiedPosition$ | async) || [0, 0, 0]"
        (editingChange)="onEditingChange($event, 'translate')"
        (vec3Change)="onPositionChange($event)"
        (saveChanges)="onSaveChanges()"
        (revertChanges)="onRevertChanges()"
      ></ucm-vec3>
    </div>
    <div class="modal-body container">
      <ucm-vec3
        name="rotation"
        [editable]="(editingMode$ | async) !== 'translate'"
        [vec3]="(modifiedRotation$ | async) || [0, 0, 0]"
        (editingChange)="onEditingChange($event, 'rotate')"
        (vec3Change)="onRotationChange($event)"
        (saveChanges)="onSaveChanges()"
        (revertChanges)="onRevertChanges()"
      ></ucm-vec3>
    </div>
  </div>
</div>
