<div class="modal-header">
  <h3 class="pull-left mb-0">{{ ('admin.sensors.keys' | translate) + ' ' + sensor?.name }}</h3>
  <button type="button" class="close pull-right" (click)="modalRef.hide()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="sensorKeys$ | async; let sensorKeys">
  <ucm-hex-output name="{{ 'admin.sensors.device_address' | translate }}" [hex]="sensorKeys.deviceAddress"></ucm-hex-output>
  <ucm-hex-output
    name="{{ 'admin.sensors.application_session_key' | translate }}"
    [hex]="sensorKeys.applicationSessionKey"
  ></ucm-hex-output>
  <ucm-hex-output name="{{ 'admin.sensors.network_session_key' | translate }}" [hex]="sensorKeys.networkSessionKey"></ucm-hex-output>
</div>
