@import "../../../assets/scss/variables.scss";

.navbar {
  font-size: 1.15rem;
  font-weight: 500;
  justify-content: space-between;
  height: $navbar-height;
}

.nav-item {
  .btn {
    font-size: 1.15rem;
    font-weight: 500;
    display: block;
    padding: 20px 25px !important;
  }

  &.active {
    border-bottom: 4px solid $body-color;
  }
}
