<ng-container *ngIf="isIndex()">
  <div class="background"></div>
  <main class="d-flex flex-wrap justify-content-center align-content-center without-navbar">
    <router-outlet></router-outlet>
  </main>
</ng-container>

<ng-container *ngIf="!isIndex()">
  <ucm-header></ucm-header>
  <main class="container-fluid py-3">
    <ucm-alert-display destination="main"></ucm-alert-display>
    <router-outlet></router-outlet>
  </main>
</ng-container>

<div class="d-flex flex-row-reverse">
  <a class="mr-3" [class.text-light] = "isIndex()" [class.text-dark] = "!isIndex()" [routerLink]="['/imprint-data-protection']">Imprint & Data Protection</a>
</div>
