<div *ngIf="fullscreen" class="background"></div>
<ucm-header *ngIf="!fullscreen"></ucm-header>
<main
  [ngClass]="
    fullscreen
      ? 'd-flex flex-wrap justify-content-center align-content-center without-navbar'
      : fullcontent
      ? 'fix-height'
      : 'container-fluid py-3'
  "
>
  <ucm-alert-display *ngIf="!fullscreen && !fullcontent" destination="main"></ucm-alert-display>
  <router-outlet></router-outlet>
</main>

<ucm-footer [lightTextColor]="fullscreen" [absolutePosition]="fullcontent"></ucm-footer>
