<div class="modal-header">
  <h3 class="pull-left mb-0">{{ 'login.login' | translate }}</h3>
  <button type="button" class="close pull-right" (click)="onCloseButtonClicked()">
    <span>&times;</span>
  </button>
</div>
<ucm-alert-display destination="login"></ucm-alert-display>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="inputUsername">{{ 'login.username' | translate }}</label>
      <input type="text" class="form-control" id="inputUsername" formControlName="username" />
    </div>
    <div class="form-group">
      <label for="inputPassword">{{ 'login.password' | translate }}</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="password" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || (loggingIn$ | async)">
      {{ 'login.login' | translate }}
    </button>
  </div>
</form>
